.image.phone:before, .image.phone:after {
				content: none;
			}

p.caption {
	font-size: 0.8em;
}

#header {
	background-image: none;
}

::-webkit-input-placeholder {
		color: #535353 !important;
	}

	:-moz-placeholder {
		color: #535353 !important;
	}

	::-moz-placeholder {
		color: #535353 !important;
	}

	:-ms-input-placeholder {
		color: #535353 !important;
	}

	.formerize-placeholder {
		color: #535353 !important;
	}

